<div class="ui card">
    <div class="content">
        <div class="header">{{ member.MemberCategory }}</div>
    </div>
    <div class="content">
        <h4 class="ui sub header">{% if member.isEnable %}已启用{% else %}未启用{% endif %}</h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>积分: {{ member.money }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>类别: {{ member.MemberCategory.category }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>内容: {% if member.MemberCategory.remark %}{{ member.MemberCategory.remark }}{% else %}无{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <button class="ui button record">使用记录</button>
        <div class="ui modal record-list">
            <i class="close icon"></i>
            <div class="header">
                使用记录
            </div>
            <div class="content">
                <div class="description">
                    <div class="ui stackable cards" id="sylius-addresses">
                        {% include '@SyliusShop/Account/Member/_use_record.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/shop/js/app.js') }}"></script>
    <script>
        $(function () {
            $('.record').click(function () {
                $('.record-list').modal('show');
            });
        });
    </script>
{% endblock %}