<div class="ui card">
    <div class="content">
        <div class="header">{{ member.MemberCategory }}</div>
    </div>
    <div class="content">
        <h4 class="ui sub header">{% if member.isEnable %}已启用{% else %}未启用{% endif %}</h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>积分: {{ member.money }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>类别: {{ member.MemberCategory.category }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>内容: {% if member.MemberCategory.remark %}{{ member.MemberCategory.remark }}{% else %}无{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ui bottom attached button add" href="javascript:void(0)">
        <i class="add icon"></i>
        启用
    </a>
</div>

{% block javascripts %}
    <script>
        $(function () {
            $('.add').click(function () {
                $.post('{{ path('member_extend_enable') }}', {
                    id: '{{ member.id }}'
                }, function (json) {
                    if (json.code == 0) {
                        window.location.reload()
                    } else {
                        layer.alert(json.message, {}, function () {
                            window.location.reload()
                        });
                    }
                }, 'json');
            });
        });
    </script>
{% endblock %}