{{ form_errors(form) }}
<div class="one field">
    {{ form_row(form.name) }}
    {{ form_row(form.isEnable) }}
    {{ form_row(form.gradeType) }}
    {{ form_row(form.invitePoint) }}
    {{ form_row(form.category) }}
    {{ form_row(form.remark) }}
</div>
